<h1>
    <%= @date %>
    の日記を削除しますか？
</h1>
<h2>
    <%= link_to 'キャンセル', controller: "events", action: "show", id: @date %>
    <%= link_to '削除', event_path(@date), :method => :delete %>
</h2>

<%= render 'events/common/diary' %>