// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
p {
    margin: 0;
}
body {
    background-color: white;
}
.d-flex {
    display: flex;
}
.calendar-wrap {
    width: 500px;
}
.diary-wrap {
    padding-left: 50px;
    flex: 1;
}
textarea {
    min-width: 400px;
    min-height: 150px;
}
.pointer-events-none {
    pointer-events: none;
}