<h1>筋トレの新規追加</h1>

<%= form_for @exercise, :url => {:action => :create} do |form| %>
    <div>
        <h3>name</h3>
        <p>物理名を入力</p>
        <%= form.text_field :name %>
    </div>

    <div>
        <h3>label</h3>
        <p>論理名を入力</p>
        <%= form.text_field :label %>
    </div>

    <div class="submit">
        <%= form.button "登録", type: "button", onclick: "submit()" %>
    </div>
<% end %>
    